fastapi
uvicorn
python-dotenv
pydantic

sqlalchemy
psycopg[binary]
alembic

mistralai
httpx

langchain
langchain-core
langchain_mistralai
langchain-community
langgraph
mcp[cli]
fastmcp
mcp

requests
tenacity
beautiful-soup 
tavily-python

pgvector

pytest
